<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>k-design-prototype components</title>
<meta charset="utf-8">
<meta name="description" content="">
<meta name="author" content="Yuki Toyoda">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="./css/style.css">
<!--[if lt IE 9]>
<script src="//cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body>
  <div id="container">
    <h1>コンポーネント検討用</h1>
    <section>
      <h2>ボタン</h2>
      <p>ボタンということをよりわかりやすくするために、ボタンの角は丸くしてあります。また、入力フォームが基本的に四角なのに対して、ボタンのデザインは丸を採用することで、ボタンとしての視認性を高めています。</p>

      <section>
        <h3>登録ボタン・検索ボタン</h3>
        <p>何かアクションを起こすボタンは基本的に青色を使っています。青には何かを肯定するという意味合いが含まれるためです。</p>
        <div>
          <button type="button" class="btn btn-yes">登録</button>
        </div>
        <div>
          <button type="button" class="btn btn-yes">検索</button>
        </div>
      </section>

      <section>
        <h3>キャンセルボタン・取消ボタン・閉じるボタン</h3>
        <p>起こしていたアクションをキャンセルボタンについては、ボーダーはグレーで文字もグレーを使用しています。</p>
        <div>
          <button type="button" class="btn btn-cancel">キャンセル</button>
        </div>
        <div>
          <button type="button" class="btn btn-cancel">閉じる</button>
        </div>
      </section>
    </section>
    <section>
      <h2>入力フォーム</h2>
      <p>入力フォームについては下記を想定しています。</p>

      <section>
        <h3>入力フォーム</h3>
        <p>※ラベルの位置については検討中。</p>
        <p>プレースホルダーの中にラベルを収める方式を取っているが、検索条件入力時など、入力項目がとにかく多い場合、どこに何を入れていたか忘れる説がある。ので、あまりプレースホルダー方式はよくないと思う。</p>

        <div>
          <input type="text" placeholder="Lorem Ipsum" class="input-search-text" />
        </div>

        <p>バリデーションチェックをして、異常値が入力されていた場合（もちろん中身を従来通りクリアするでもよいけれど）</p>
        <div>
          <input type="text" class="input-search-text validation-warn" value="バリデーションチェックでエラー" />
        </div>
      </section>
    </section>
  </div>
</body>
</html>
